page-answer-modal {
    ion-content {
        opacity: 0;
      }
      ion-footer {
        background-color: #fff;
        .ans-modal-content {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 40px;
          button {
            margin: 0px 0px;
          }
        }
      }
    }