page-play-game1 {
    .qatd {
        background-image: url('../../assets/imgs/backimg2.png');
        background-size: 120% 120%;
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
    }

    .question {
        font-size: 4.2rem
    }
}


